<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"> </meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </meta>
    </head>
    <body>
        <h1>Data Toko Buku</h1>
        <table border="1">    
    <thead>
        <tr>
            <th>ID</th>
            <th>JUDUL BUKU</th>
            <th>HARGA</th>
            
        </tr>
    </thead>
    <tbody>
        <tr th:each="bk : ${dataBuku}">
            <td th:text="${bk.id}"></td>
            <td th:text="${bk.judul_buku}"></td>
            <td th:text="${bk.harga}"></td>
            <td><a th:href="@{/edit.html(id=${bk.id})}">Ubah</a></td>
            <td><a th:href="@{/delete(id=${bk.id})}">Hapus</a></td>    
         </tr>
    </tbody>
    <tfoot>
        <tr>
            <td><a href="/tambah-data.html">Tambah</a></td>
        </tr>
    </tfoot>
    </table>
        
    </body>
</html>
